.idea
.DS_Store

/archives/*
!archives/.gitkeep
/favorites/recordings/*
!favorites/recordings/.gitkeep
/favorites/waveforms/*
!favorites/waveforms/.gitkeep
/recordings/*
!recordings/.gitkeep
/waveforms/*
!waveforms/.gitkeep
/AGENTS.md
